= render partial: '/layouts/titlebar'

.space-list 
  - @spaces.each do |space|
    .space-list__row
      %a.space-list__item{href: space_path(space.id)}
        .space-list__title= space.name    
        .space-list__details
          = space.pieces.count
          Pieces
      - if space.user == current_user
        %a.space-list__edit{href: space_user_spaces_path(space.id)}
          = "..."

  .space-list__row 
    %a.space-list__item.space-list__item--link{href: new_space_path}
      + Create New Space
