

.space-form
  = form_for @space, url: spaces_path do |f|
    .space-form__field
      %label.space-form__label
        Name of this Space:
      .space-form__input
        = f.text_field :name

    .space-form__submit
      = f.submit :create, class: "button"