
= render partial: '/layouts/titlebar'



.homepage
  .homepage__head
    .homepage__header
      Hello!
      %br Get Your Marker Here.
    .homepage__text
      %p To view the "Hello Cabin" space, print out the marker below, and point the CabinAR app at the markers.
      .sample-marker-images
        %a{href:image_path("cabin-marker.pdf"), target: "_blank"}
          = image_tag "cabin-marker.png"
