
= render partial: '/layouts/titlebar'


.homepage
  .homepage__head
    .homepage__header
      Privacy Policy & Terms of Use
    .homepage__text
      %p 
        %b Privacy Policy
        %br
        CabinAR.com collects email addresses for the purpose of securing your builder account and providing updates regarding the service. Cookies are used to persist your login session across page views. We do not share or sell your email address or cookie information with any third party.

      %p The CabinAR Mobile App accesses the location of your device for the express purpose of presenting nearby art installations and this information is not stored. Anonymous usage and crash data is sent to Apple on iOS and Google on Android and stored on the CabinAR servers.

      %p 
        %b Terms of use
        %br
        CabinAR is a free service offered by Cykod LLC for the purposes of supporting the creation and display of AR related art. We offer no guarantees of the fitness of CabinAR for any commercial purpose nor any guarantees that the service will continue to run indefinitely.

      %p Cykod LLC reserves the right to prevent the publication of and remove any content that violates local laws or we find objectionable to the goal of fostering a collaborative, creative community.

      %p In the case the CabinAR service is shut down, Cykod LLC will provide the code for both the creation tool and the associated mobile apps under an open-source license.

      %p 
        Please feel free to contact 
        = mail_to "cabinar@cykod.com" 
        for if you have any questions as to the purpose of CabinAR or the fitness of this tool for you.


