
= render partial: '/layouts/titlebar'


.homepage
  .homepage__logo
    Privacy Policy
  .homepage__text
    %p CabinAR.com collects email addresses for the purpose of securing your builder account. Cookies are used to persist your login session across page views. We do not share your email address or cookie information with any third party.

    %p The CabinAR Mobile App accesses the location of your device for the express purpose of presenting nearby art installations and this information is not stored. Anonymous usage and crash data is sent to Apple and stored on the CabinAR servers,


