* { box-sizing: border-box; }

$primary-color: #000000;
$secondary-color: #0f0f0f;
$light-color: #a3a3a3;
$action-color: #EB008B;
$light-border: #dedede;
$action-light:#ff50a1;

$error-color: #aa1111;

$titlebar: #ffffff;
$titlebar-item: #ccc;
$titlebar-item-active: $action-color;

@mixin for-phone-only {
  @media screen and (max-width: 599px) { @content; }
}

body { 
  padding:0px; margin:0px; 
  font-family: Arial;
  font-size:14px;
  color:$primary-color;
  font-family: 'Source Sans Pro', sans-serif;    
}

button, input {
  font-size:14px;   
}

button, .primary-button {
    background-color:black;
    color:white;
    padding:10px;
    text-decoration:none;
    text-align:center;
    margin-bottom:10px;
    text-transform:uppercase;
    letter-spacing: .03em;  
    border:none;
    border-radius:3px;

    &:hover { color:#000000; background-color:$action-color;}

}

.hidden { 
  display:none;
}



.label {
    color: #000000;
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: .05em;
    cursor: pointer;
}


.button {
  color: $primary-color;
  background-color: rgba(255,255,255,.5);
  padding: 7px 10px;
  margin:1px;    
  border: 1px solid $primary-color;
  border-radius:30px;    
  text-decoration:none;
  text-transform: uppercase;
  font-size: .7em;
  letter-spacing: .05em;
  cursor: pointer;
  &:hover { color:$action-color; background-color:white; border-color:$action-color;}
  &:active { background-color:$action-color; color: white; }
  &:active, &:focus { outline: none; }  
    
}

.titlebar {
  background-color: $titlebar;
  display:flex;

  &__wrapper {
    padding-bottom:10px;
    
    @include for-phone-only {
      padding:20px;
    }
    
  }

  &__item { 
    display:block;
    flex: 0 0 auto; 
    color: $primary-color;
    text-decoration: none;
    margin-left:2px;
    padding:16px 20px;
    border-top: 2px solid #ffffff;
    
    @include for-phone-only {
      padding: 7px 0px 0 15px;
      font-size: 13px;
    }


    &--active { 
      border-top:2px solid $titlebar-item-active;
    }
  }

  &__spacer {
    flex: 1 0 auto;
  }

  &__logo {
    font-size:20px;
    font-weight:bold;
    padding:10px 20px;
    
    @include for-phone-only {
      padding:0px;
      font-size:16px;
    }

  }

   &__image{
     display: inline-block;
     width: 20px;
      }  

}




.page-wrapper {
  display:flex;
  width:100%;
  height:100vh;
  align-items:stretch;

  &__piece-list {
    flex: 0 0 200px;
    background-color: white;
    border-right:1px solid $secondary-color; 
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.06), 0 3px 3px rgba(0, 0, 0, 0.13);
    z-index:10; 
    position:relative;

    &--hidden {
      display:none;
    }
  }

  &__hide-tab { 
    position:absolute;
    right:-1px;
    top:-1px;
    width:20px;
    height:20px;
    border:1px solid $secondary-color;
    background-color:white;
    text-align:center;
    cursor:pointer;
  }

  &__show-tab { 
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
    background-color:white;
    text-align:center;
    cursor:pointer;
    z-index:5;
  }

    
  &__editor {
    flex: 1 0 40%;
    min-width:375px;
    position:relative;
    background-color: white;
    border-right:1px solid $secondary-color; 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.13);
    z-index:1;
    border-right:5px solid gray;
  }

  &__resizer {
    position:absolute;
    cursor:pointer;
    top:0px;
    height:100%;
    left:100%;
    width:10px;
    cursor:pointer;
  }

  &__blocker {
    width: 100%;
    height:100%;
    position:absolute;
    left:0px;
    top:0px;
  }


  &__preview {
    position:relative;
    flex: 0 1 auto;
    min-width:200px !important;
  }
  
}

.editor {
  height:100%;
  display:flex;
  flex-direction:column;
  flex-wrap: nowrap;
   

  &__wrapper {
    flex: 1 1 100%;
    position:relative;
    background-color:white;  
  }

  &__upload {
    flex: 0 0 40px;
    position:relative;
    text-align:center;
  }

  &__tools {
    flex: 0 0 auto;
    border-bottom: 1px solid #dedede;
    padding:10px 10px 5px 10px; 
  }

  &__tool {
    margin: 0 5px 5px 5px;
    font-size:.6em;
    padding:5px 12px;
    border-radius:20px;  
    
  }

  &__tabs {
    background-color:white;
    flex: 0 0 30px;
    display:flex;
    justify-content:flex-start;
    border-bottom:1px solid $light-border;
    color: $primary-color;  
    margin-top:10px;  

  }

  &__tab {
    flex: 0 0 auto;
    height:30px;
    margin-top: 10px;
    padding:5px 10px 3px 10px;
    margin-right:5px;
    letter-spacing: .05em;  
    color: $primary-color;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .05em;
    margin-left: 10px; 
    cursor:pointer;
    &:hover { color:$action-color; border-bottom:3px solid $action-light;}  

    &--active {
      position:relative;
      top:1px;
      border-bottom:3px solid $action-color;
      background-color:white;

    }

  }

  &__properties {
    padding:10px;
    flex: 1 1 auto;
    overflow-x:hidden;
    overflow-y: auto;
  }


  &__fileInput {
    visibility:hidden;
    display:block;
    height:1px;
    overflow:none;
  }

  &__image {
    max-width:60%;
    max-height:60%;
  }

  &__save-needed {
    background:$action-color;
    color:white;
    font-size:16px;
    padding:5px;
    margin-bottom:10px;
    text-align:center;
  }

  &__marker {
    padding:5px;
    text-align:center;
    background-color: $light-border;

    &--warning {
      color:white;
      background-color: $error-color;
    }

    &--zero {
      color: white;
      background-color: $error-color;
    }
  }
}

.piece-list {
  height:100%;
  padding-bottom:20px;
  position:relative;
  overflow-y:auto;
  background-color: white;
  color:$primary-color;    

  &__back {
    position:absolute;
    width:60px;
    top:5px;
    left:10px;
    cursor:pointer;
    text-transform:none;
    font-size:.8em;
    &:hover { color:$action-color;}
  }
    
    &__name {
    font-size: 1.3em;
    margin: 20px 0 20px 10px;
    }    

  &__piece {
    padding:10px 0px 15px 0px;
    overflow:hidden;
    cursor:pointer;

    position:relative;
    display:flex;
    border-bottom:1px solid $light-border;
    border-left:10px solid white;

    &--active {
      color:$action-color;
      font-weight:600;    
; 
    }
    &:hover { 
      border-left:10px solid $action-color;
    }  
    
  }

  &__piece-image {
    flex: 0 0 36px;
    img { height: 24px; }
    float:left;
    padding-right: 10px;
  }

  &__piece-unsaved {
    position:absolute;
    top:10px;
    right:-18px;
    background:$action-color;
    color:white;
    font-size:10px;
    padding:1px 15px;
    transform:rotate(45deg);
  }

  &__add-piece {
    position:fixed;
    bottom:8px;
    left:12px;
    background: white;  
  }


}


.properties {
  &__field {
    margin-bottom:10px;
  }

  &__label {
    padding-bottom:3px;
  }

  &__input input, &__input select {
    width:100%;
    border:1px solid $light-border;
    padding:4px 6px;
    display:block;
    margin-bottom:2px;
  }

  &__label-button {
    margin-top:4px;
    display:inline-block;
    border:1px solid black;
    padding: 2px 6px;
    border-radius:5px;
  }
}


#aframe-editor {
  position:absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;    

    
    .ace_gutter {
    background: white;
    }
    
    .ace_string {
        color:#bb8c22;
    }
  
}

.preview {
  width: 100%;
  height:100%;
    
    &__delete {
        background-color:#ffffff00;
        font-size:.7em;
        color:black;
        &:hover { color:$action-color; background-color:#ffffff00;}
        &:active { background-color:#ffffff00; color: action-color; font-weight:bold; }
        &:active, &:focus { outline: none; }  
    }    

  &__actions {
    position:absolute;
    right:12px;
    top:10px;
    z-index:1;
  }

  &__action {
    margin-left: 5px;
    cursor: pointer;  
    background:black;
    border:1px solid black;
    color:white;
    
    &:hover { background-color:black; border-color:black; color:white;}
    &:active { background-color:white; color: $action-color; border-color:$action-color;  }
    &:active, &:focus { outline: none; }
    
    &--dirty {
      background-color:$action-color;
      border:1px solid $action-color;  
    }
  }


  &__wrapper {
    padding-top:0px;
    width:100%;
    height:100%;
    position:relative;
  }


  &__toggle {
    position:absolute;
    right:20px;
    top:50px;
  }

  &__tools {
    position:absolute;
    left:10px;
    top:50px;
  }

  &__tool {
    display:inline-block;
    border-radius:30px;
    padding: 5px 12px;
    margin:2px;
    color: $primary-color;
    background-color: rgba(255,255,255,.6);
    border: 1px solid $primary-color;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin-left: 5px;
    cursor: pointer;  
    &:hover { background-color:$action-color; color:white; border-color:$action-color;}
    &:active { background-color:$action-color; color: white; }
    &:active, &:focus { outline: none; }  

    &--active {
      background-color:$primary-color;
      color:white;
      border-color: $primary-color; 
      &:hover { background-color:white; color:$action-color;}        
    }
      
  }

  &__iframe {
    border:0px;
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
  }
}


.space-list {
  margin: 20px 30px;
  max-width:400px;
  padding:2px 10px;


  &__item, &__item * {
    text-decoration:none;
  }

  &__row {
    margin-top:5px;
    border-bottom:1px solid $light-border;
    display:block;
    display:flex;

    &:last-child {
      border-bottom:none;
    }
  }

  &__edit {
    padding:10px;
    flex: 0 0 40px;
    font-size:24px;
    text-decoration:none;
    &:hover {
      color:$action-color;

      div { color:white; }
    }
  }

  &__item {
    flex: 1 1 auto;
    padding:10px;

    &:hover {
      
      color:$action-color;

      
    }

    &:last-child { border:none; }

    &--link {
      color:$action-color;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    color:$primary-color;  
    &:hover {
      color:$action-color;      
    }  
  }


  &__details {
    font-size:13px;
    color:$light-color;
    font-weight:300;
  }

}



.account-form {
  max-width:700px;
  margin:20px auto;
  padding:10px 10px;
  border-radius:5px;

  &__header { 
    font-size:26px;
    font-weight:bolder
  }

  &__subtitle {
    font-size:16px;
  }

  &__key {
    margin:20px 0;
    text-align:center;
    background-color: $light-border;
    color:#333;
    font-size:36px;
    padding:10px;
  }


}


.space-form {
  max-width:700px;
  margin:20px auto;

  padding:10px 10px;
  border:1px solid #CCC;
  border-radius:5px;

  &__label { 
    margin-bottom:5px;
    display:block;
  }

  &__field {
    margin-bottom:10px;
  }

  &__input input { 
    width:100%;
  }


  &__submit {
    text-align:right;
  }


  &__map {
    height: 400px;
  }

   &__tabs {
    background-color:#FFF;
    flex: 0 0 30px;
    display:flex;
    justify-content:flex-start;
    border-bottom:1px solid $light-border;
    color: $primary-color;  
  }

  &__tab {
    flex: 0 0 auto;
    height:30px;
    margin-top: 10px;
    padding:5px 10px 3px 10px;
    margin-right:5px;
    letter-spacing: .05em;  
    color: $primary-color;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .05em;
    margin-left: 10px; 
    cursor:pointer;
    &:hover { color:$action-color; border-bottom:3px solid $action-light;}  

    &--active {
      position:relative;
      top:1px;
      border-bottom:3px solid $action-color;
      background-color:white;

    }


  }
  &__details {
    padding:10px;
  }

}


.collaborator {
  &__table {
    padding:10px;

  }

  &__error {
    margin:10px;
    background-color:$error-color;
    color:white;
    padding:5px;
    text-align:center;
  }

  &__row {
    display:flex;
    width:100%;
    border-bottom:1px solid $light-border;
    padding:10px 0px;
  }

  &__name {
    flex: 0 0 60%;

    input { 
      width:100%;
      padding:5px;
    }
  }

  &__actions { 
    flex: 0 0 40%;
    text-align:right;

  }
}



.homepage {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin: 50px 40px;
  
  @include for-phone-only {
    margin-top: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  p {
    font-size: 18px;
    line-height: 1.65em;
    margin: 20px 0 10px 0; 
    
    @include for-phone-only {
      font-size: 16px;
      line-height: 1.65em;
      text-align: center;
    }
    
    }
  &__head {
    margin-right:5%;
  }
    
  &__header {
    font-size:55px;
    font-weight:bold;
    line-height:50px;  
    
    @include for-phone-only {    
      font-size: 30px;
      font-weight: bold;
      line-height: 1em;
      text-align: center;
      margin-top: 20px;
    }
  }
    
  &__logo-image {
    width:250px;
    
    
    
    @include for-phone-only { 
      width: 80%;
      margin: 0 auto;
      display: inherit;
    }
    }    

  &__or {
    text-align:center;
    font-size:24px;
    margin-top: 20px;
    font-weight: 900;
  }

  &__link {
    display:inline-block;
    background-color:$action-color;
    color:white;
    padding:10px 20px;
    text-decoration:none;
    font-size:16px;
    text-align:center;
    margin: 0px 0px 10px 0px;
    text-transform:uppercase;
    letter-spacing: .03em;  
    &:hover { color:white; background-color:$action-light;}
    &:active { background-color:black; color: white; }
    &:active, &:focus { outline: none; }  
    
    @include for-phone-only { 
      display: block;
      width: 70%;
      margin: 10px auto;
    }
  }
  
  &__small-link {
    display: inline;
    margin-left: 10px;
    font-size: 1em;
    text-decoration: underline;
    
    @include for-phone-only { 
      display:block;
      text-align:center;
      margin:0;
    }
  }
  
  &__app-image {
    height:47px;
    
    @include for-phone-only { 
      display: block;
      margin: 20px auto;
    }
  }

  &__signin--form {
    padding:10px;
    border:1px solid $light-border;
      
  }

  &__signin-field {
    padding:10px 0;

    input[type=text], input[type=password] {
      padding:5px 2px;
      width:100%;
    }
    
  }

  &__footer {
    margin-top:40px;
    padding:10px 0px;

    width:100%;
    background-color: black;
    text-align:center;
    color:white;
    position:fixed;
    bottom:0px;
    left:0px;

    a { color:white; }
  }
  
  &__signin {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
    width:500px;
    height:260px;
     z-index: 1001;
  }
  
  &__signin-guts {
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  &__signin-title {
    
  }
}

.modal-overlay {

  /* recommendation:
     don't focus on the number "1000" here, but rather,
     you should have a documented system for z-index and 
     follow that system. This number should be pretty
     high on the scale in that system.
  */
  z-index: 1000;
  
  background-color:rgba(100,100,100,0.8);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}


.sample-marker-images  {
  display:flex;

  a { 
    display:block;
  }

  img { max-width: 250px; }

}


.selectedpiece {
    background: rgba(100, 200, 200, 0.4);
    position: absolute;
    width:100% !important;
    left:0 !important;
}

