.titlebar__wrapper
  .titlebar
    %a.titlebar__item.titlebar__logo{href: root_path}
      = image_tag("cabin-logo.svg", class:"titlebar__image")
      CabinAR
    - if current_user
      %a.titlebar__item.titlebar__my-spaces{ href: spaces_path, class: local_assigns[:my_spaces] ? "titlebar__item--active" : ""}
        My Spaces
      %a.titlebar__item{ href: "https://forum.cabin-ar.com/login"}
        Forum
      .titlebar__spacer
      %a.titlebar__item.titlebar__my-account{ href: account_path,class: local_assigns[:my_account] ? "titlebar__item--active" : "" }
        My Account
      %a.titlebar__item.titlebar__logout{href: destroy_user_session_path, data: { method: "delete" }}
        Logout
    - else
      %a.titlebar__item{ href: "https://forum.cabin-ar.com/ "}
        Forum